body{
    background-color:blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.tile{
    width: 100px;
    height: 60px;
    border: 2px solid black;
}
#grid{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row{
    display: flex;
    gap: 5px;
}
#guess-input{
    width: 200px;
    padding: 8px;
    margin-top: 20px;
}
#submit-btn{
    padding: 8px;
    height: 40px;
    width: 200px;
    margin-top: 10px;
}
.input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}